@import url("variables.css");

#dashboard-main {
    display: flex;
    flex-direction: row-reverse;
}
.filtros {
    display: flex;
    justify-content: left;
    border-right: 1px solid #f0eadf;
    width: 20rem;
    height: 100vh;
    padding: 1rem;
    margin: 0.5rem;
    font-size: 15px
}

.filtros-lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.li-filtros {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;;
}
.li-filtros input[type="checkbox"] {
    position: relative;
    appearance: none;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    background-color: transparent;
    border: 2px solid #e7e0d4;
    border-radius: 30%;
}
.li-filtros input[type="checkbox"]::after {
    content: "✔";
    position: absolute;
    top: -13px;
    color: var(--color-primary);
    font-size: 1.5rem;
    display: none;
}
.li-filtros input[type="checkbox"]:checked::after {
    display: block;
}

/* css de prioridad */

.prioridades-lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.li-prioridades {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
}
.li-prioridades input[type="checkbox"] {
    position: relative;
    appearance: none;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    background-color: transparent;
    border: 2px solid #e7e0d4;
    border-radius: 30%;
}
.li-prioridades input[type="checkbox"]::after {
    content: "✔";
    position: absolute;
    top: -16px;
    color: var(--color-primary);
    font-size: 1.5rem;
    display: none;
}
.li-prioridades input[type="checkbox"]:checked::after {
    display: block;
}

.btnLimpiar-container {
    position: relative;
    width: 18rem;
    height: 2.5rem;
    top: 80%;
    left: -50%;

}
.btnLimpiar {
    position: absolute;
    top: 0;
    left: -15%;
    margin: 0.5rem;
    width: 19rem;
    height: 3rem;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #e7e0d4;
    cursor: pointer;
}