@import url("variables.css");

#dashboard-main {
    display: flex;
    flex-grow: 1;
}
.filters {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-right: 1px solid #f0eadf;
    width: 17rem;
    padding: 1rem;
    margin: 0.5rem;
    font-size: 15px;
}

.filters-title {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}

.filters-lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.li-filters {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.li-filters input[type="checkbox"] {
    position: relative;
    appearance: none;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    margin: 0.5rem 0.2rem;
    background-color: transparent;
    border: 2px solid #e7e0d4;
    border-radius: 30%;
}
.li-filters input[type="checkbox"]::after {
    content: "✔";
    position: absolute;
    top: -15px;
    color: var(--color-primary);
    font-size: 1.5rem;
    display: none;
}
.li-filters input[type="checkbox"]:checked::after {
    display: block;
}

.li-filters label {
    color: #8b6b4d;
    font-weight: 500;
}

/* css de prioridad */

.priority-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.li-priority {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.li-priority input[type="checkbox"] {
    position: relative;
    appearance: none;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    margin: 0.5rem 0.2rem;
    background-color: transparent;
    border: 2px solid #e7e0d4;
    border-radius: 30%;
}
.li-priority input[type="checkbox"]::after {
    content: "✔";
    position: absolute;
    top: -16px;
    color: var(--color-primary);
    font-size: 1.5rem;
    display: none;
}
.li-priority input[type="checkbox"]:checked::after {
    display: block;
}

.li-priority label {
    color: #8b6b4d;
    font-weight: 500;
}

.btnClean-container {
    width: 16rem;
    height: 3.5rem;
    align-self: center;
    margin-bottom: 3rem;
    margin-right: 1rem;
}
.btnLimpiar {
    margin: 0.5rem;
    width: 100%;
    height: 100%;
    background-color: #e7e0d4;
    border-radius: 5px;
    border: 2px solid #e7e0d4;
    cursor: pointer;
}

.btnLimpiar:hover {
    background-color: gainsboro;
}
