@import url("./style.css");

.task_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid orange;
    border-radius: 10px;
    padding: 1rem;
    width: 20rem;
    text-align: start;
    gap: 0.7rem;
}
.title_task{
    width: 100%;
}
.date{
    width: 100%;
}

.task_spans{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.category_span{
    border: 1px solid gray;
    border-radius: 20px;
    padding: 0 0.8rem;
}
.priority_span{
    border: 1px solid rgb(100, 41, 20);
    border-radius: 20px;
    padding: 0 0.8rem;
    background-color: orangered;
    color: whitesmoke;
}