:root {
    --color-primary: #ca7041;
    --color-secondary: #ffc93c;
    --color-error: #ff4e50;
    --color-accent: #d69a7a;
    --color-background: #fcfaf0;
    --color-text: #6e5a43;
    --color-text-light: #f7ebe5;
}

/* Estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
